<?xml version="1.0" encoding="UTF-8"?>

<AutoTester>
	
	<Framework>
	
		<Plugin>
			<TestExtension>	    
				<TestDomain>HTML</TestDomain>
				<TestApp ClassName=""></TestApp>
				<TestBrowser ClassName="Shrinerain.AutoTester.HTMLUtility.HTMLTestBrowser">D:\Program\CS\AutoTester2005\HTMLUtility\bin\Release\HtmlUtility.dll</TestBrowser>
				<TestObjectPool ClassName="Shrinerain.AutoTester.HTMLUtility.HTMLTestObjectPool">D:\Program\CS\AutoTester2005\HTMLUtility\bin\Release\HtmlUtility.dll</TestObjectPool>
				<TestAction ClassName="Shrinerain.AutoTester.HTMLUtility.HTMLTestAction">D:\Program\CS\AutoTester2005\HTMLUtility\bin\Release\HtmlUtility.dll</TestAction>
				<TestVP ClassName="Shrinerain.AutoTester.HTMLUtility.HTMLTestVP">D:\Program\CS\AutoTester2005\HTMLUtility\bin\Release\HtmlUtility.dll</TestVP>
			</TestExtension>
			<TestExtension>
				<TestDomain>Flex</TestDomain>
				<TestApp ClassName=""></TestApp>
				<TestBrowser ClassName="HTMLTestBrowser">E:\program\cs\ShrinerainTools\AutoTester\HTMLUtility\bin\Release\HtmlUtility.dll</TestBrowser>
				<TestObjectPool ClassName="HTMLTestObjectPool">E:\program\cs\ShrinerainTools\AutoTester\HTMLUtility\bin\Release\HtmlUtility.dll</TestObjectPool>
				<TestAction ClassName="HTMLTestAction">E:\program\cs\ShrinerainTools\AutoTester\HTMLUtility\bin\Release\HtmlUtility.dll</TestAction>
				<TestVP ClassName="HTMLTestVP">E:\program\cs\ShrinerainTools\AutoTester\HTMLUtility\bin\Release\HtmlUtility.dll</TestVP>
			</TestExtension>
		</Plugin>
		
		<DriveFile>
			<DatabaseType>XLS</DatabaseType>
			<MainTestStep>TestSteps</MainTestStep>
			<SubTestStep>Sub</SubTestStep>
			<DataPool>Data</DataPool>
			<MaxDataField>50</MaxDataField>
		</DriveFile>
		
		<Exception>
		    <OnErrorResumeNext>Yes</OnErrorResumeNext>
			<SaveScreenPrint>No</SaveScreenPrint>
			<ScreenPrintName>*</ScreenPrintName>
			<SaveException>Yes</SaveException>
		</Exception>
		
		<Log>
			<SaveLog>Yes</SaveLog>
			<LogType>HTML</LogType>
			<SaveEachStep>Yes</SaveEachStep>
			<SaveScreenPrint>Yes</SaveScreenPrint>
			<ScreenPrintName>*</ScreenPrintName>
			<SendMail>No</SendMail>
			<MailList>YWan@StateStreet.com;shrinerain@hotmail.com</MailList>
		</Log>
		
	</Framework>

</AutoTester>
